div {
    background-color: aqua;
    border: blue solid 3px;
    display: inline-block;
    width: 450px;
    height: 450px;
    margin: 10px;
    position: relative;
    margin-top: 120px;
    transition: 5s;
}
h1{
    font-family: Arial;
    text-align: center;
}

p{
    font-family: Arial;
    text-align: center;
    padding: 10px;
}

.f:hover{
    border-radius: 30px;
    background-color: blue;
    border: white solid 3px;
    box-shadow:0 0 5px 5px  grey;
    color: white;
}